.data{
   
    background-color:rgb(171, 194, 236);
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black; 
    border-spacing: 0 15px; 
  
}

.divs{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  
}

.divs button {
    margin-left: 10px; /* Adjust space size */
}