<table border="5" [cellPadding]="3" [cellSpacing]="3" style="border: 1px solid black;">
    <thead>
        <tr>
         
            <th *ngFor="let property of getPropertyNames(parts)">{{ property }}</th>
        </tr>
    </thead>
    
    <tbody>

        <tr *ngFor="let item of parts">
    
            <td *ngFor="let property of getPropertyNames(parts)" class="data">
                {{ item[property] }}
            </td>
        </tr>
    </tbody>
</table><br>


<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="openDialog()">Add Part</button>
</mat-dialog-actions>


<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="openDialog1()">Delete Part</button>
</mat-dialog-actions>
